@model Data.Model.Position

@Html.AntiForgeryToken()
@Scripts.Render("~/bundles/unobtrusive")

<div class="modal-content">
    <div class="modal-header">
        <h4 class="float-left">Новая должность</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    @using (Ajax.BeginForm("AddPosition", "Position", new AjaxOptions { UpdateTargetId = "results" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="modal-body">
            <div class="input-group">
                @Html.EditorFor(model => model.PositionName, new { htmlAttributes = new { @class = "form-control input-lg ml-2" } })
                <span class="label label-default mt-2 ml-2">Должность</span>
            </div>
            @Html.ValidationMessageFor(model => model.PositionName, "", new { @class = "text-danger" })

            <div id="results"></div>
        </div>
        <div class="modal-footer">
            <div>
                <input type="button" value="Закрыть" class="btn btn-secondary close" data-dismiss="modal" />
            </div>
            <div class="input-group-append">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>

        </div>
    }

</div>